/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
}

.navbar {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-header {
    display: flex;
    align-items: center;
}

.navbar-brand {
    margin: 0;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.toggle-button {
    display: none;
    font-size: 24px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 1rem;
}
a{
    color: white;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
/* Banner section styles */
#banner {
    padding: 50px 0;
    text-align: center;
    background-color: #eee;
}

#banner h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.satsang{
    display: flex;
}
.satsang-video{
    margin: 2rem 1rem;

}
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        z-index: 1000;
    }

    .nav-links.active li {
        margin: 10px;
    }
    .toggle-button {
        display: block;
    }


}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer .footer-links ul li {
    display: inline;
    margin-right: 20px;
}

footer .footer-info {
    margin-top: 20px;
}
