/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
}

.navbar {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-header {
    display: flex;
    align-items: center;
}

.navbar-brand {
    margin: 0;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.toggle-button {
    display: none;
    font-size: 24px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 1rem;
}
a{
    color: white;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
/* Banner section styles */
#banner {
    height: 100vh;
    padding: 50px 0;
    text-align: center;
    background-color: #eee;
    background-image: url(assets/banner.jpeg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-top: 3rem;
}
.satsang-timing h1{
    text-align: center;
    margin: 3rem;
}
.satsang-timing p , .satsang-timing h3{
text-align: center;
}
.satsang-timing {
    text-align: center;
    margin: 30px;
}
.satsang-timing h2{
margin-bottom: 2rem;
}
#sundayTimer , #amavasyaTimer , #pournimaTimer{
    color: #d32525;
}
.timing-item {
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.timing-item h3 {
    color: #333;
}

.timing-item p {
    font-style: italic;
    color: #666;
    margin-top: 5px;
}
.quotes h1{
    text-align: center;
    margin: 5rem 2rem 2rem 2rem;
}
.a{
    display: block;
    margin: 2rem 3rem;
}
/* section h2{
    text-align: center;
    padding: 2rem;
}
section p {
    padding: 1rem 6rem;
}
section p span{
    text-align: center;
} */

#banner h2 {

    margin-bottom: 20px;
    color: ghostwhite;
    font-weight: 700;
}
#banner p {
    font-weight: 600;
}
.satsang{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
}
.satsang-video{
    margin: 2rem 1rem;
    flex-wrap: wrap;

}
.about{
    margin-top: 5rem;
}
.about h1{
    text-align: center;
    margin: 1rem 3rem;
}
.about p {
    padding: 0 15rem;
}
@media (max-width: 768px) {
    #banner {
        height: 40vh;
    }
    .about p {
        padding: 1rem;
    }
    .satsang-video iframe{
        width: 300px;
    }
    .nav-links {
        display: none;
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        z-index: 1000;
    }

    .nav-links.active li {
        margin: 10px;
    }
    .toggle-button {
        display: block;
    }


}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer .footer-links ul li {
    display: inline;
    margin-right: 20px;
}

footer .footer-info {
    margin-top: 20px;
}
